<div >
  <h1><%= @user.name %>のページ</h1>
</div>

<div class="browsing_history">
  <p>閲覧した記事</p>
  <!--いまから実装-->
  <table>
  <thead>
    <td>title</td>
    <td>Time</td>
  </thead>
  <% @histories.each do |history| %>
  <tbody>
  </tbody>
  <% end %>
  </table>
</div>