<h1>Show</h1>

<p><%= @user.name %></p>
<p>BrowsingHistory</p>
<table>
  <thead>
    <td>title</td>
    <td>Time</td>
  </thead>
  <% @histories.each do |history| %>
  <tbody>
    <td><%= history.article.title %></td>
    <td><%= history.created_at%></td>
  </tbody>
  <% end %>
</table>

<%= link_to "Back", users_path %>